* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tijelo {
  height: 100vh;
  width: 100vw;
  background-color: #050210;
  display: flex;
  justify-content: center;
  align-items: center;
}
.krug {
  width: 33em;
  height: 33em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #fb5dad, #55fb9f, #b97aff);
  filter: saturate(200%);
  filter: brightness(100%);
  overflow: 100px;
  animation: vrtnja 3s infinite linear;
}

.unutarnji-krug {
  background-color: #050210;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 100%;
}

@keyframes vrtnja {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.krug::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 100%;
  background: linear-gradient(45deg, #fb5dad, #55fb9f, #b97aff);
  filter: blur(20px);
  opacity: 0.8;
  animation: glow 3s infinite linear;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fb5dad, 0 0 20px #fb5dad, 0 0 30px #fb5dad,
      0 0 40px #fb5dad;
  }
  50% {
    box-shadow: 0 0 20px #fb5dad, 0 0 30px #fb5dad, 0 0 40px #fb5dad,
      0 0 50px #fb5dad;
  }
  100% {
    box-shadow: 0 0 10px #fb5dad, 0 0 20px #fb5dad, 0 0 30px #fb5dad,
      0 0 40px #fb5dad;
  }
}
.sjena {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 100%;
  animation: sirenje 1s infinite;
  opacity: 0.05;
}

@keyframes sirenje {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
